#App setting
APP_PORT=8080

#DB settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=hungryhub
DB_TLS=false
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=5m

#Migration setting
RUN_MIGRATIONS=true
MIGRATIONS_DIR=migrations
RUN_SEED=false
